.pageLogin {
  height: 100vh;
  width: 100%;
  background-image: url("/img/fundoMonitoria.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; 
  align-items: center;     
  position: relative; 
  padding: 20px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 120px;
  height: auto;
  object-fit: contain;
}

.form {
  background: rgba(255, 255, 255, 0.93);
  padding: 45px;
  border-radius: 12px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  text-align: center;
}

.form h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.form input {
  padding: 14px;
  border-radius: 8px;
  border: 1.5px solid #aaa;
  font-size: 16px;
  transition: all 0.2s ease;
}

.form input:focus {
  border-color: #4b82f7;
  box-shadow: 0 0 6px rgba(75,130,247,0.5);
  outline: none;
}

.form button {
  padding: 14px;
  background: #4b82f7;
  color: white;
  font-size: 18px;
  font-weight: bold;

  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.25s ease;
}

.tituloTopo {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

.form button:hover {
  background: #3464c9;
  transform: scale(1.03);
}






