
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: #12255a; 
}


.logo {
  font-size: 25px;
  font-weight: bold;
  padding-left: 15px;
}

.links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.links a {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links a:not(:first-child)::before {
  content: "|";
  margin-right: 12px;
  color: #cfcfcf;
}


.links a:hover {
  color: #60a5fa;
}

.logout {
  background: red;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.logout:hover {
  background: #b91c1c;
}